{
    "extends": [
        "airbnb/base"
    ],
    "globals": {
    },
    "rules": {
        "indent":  [2, 4],
        "max-len": [2, 120, 4],
        "func-names": 0,
        "default-case": 0,
        "no-param-reassign": 0,
        "no-multi-spaces": 0,
        "no-console": 0,
        "key-spacing": 0,
    }
}

